[Unit]
Description=eszett

[Service]
Type=simple
WorkingDirectory=/TBD
ExecStart=/usr/bin/pipenv run eszett
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
