[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asyncio = "*"
evdev = "*"
tinydb = "*"
gmusicapi = "*"
pychromecast = "*"
google-auth-oauthlib = "*"
google-assistant-library = "*"
pathlib2 = "*"
google-assistant-sdk = "*"
grpcio = "*"
google-assistant-grpc = "*"
tenacity = "*"
sounddevice = "*"
casttube = "*"
spotipy = "*"
spotify-token = "*"

[requires]
python_version = "3"
